:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    /* cursor: inherit; */
}

html {
    /* padding: 0 0 0 20px; */
    /* overflow-x: auto; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: white !important;
    background-image: linear-gradient(#ffffff, #efefef) !important;
    background-image: linear-gradient(0deg, transparent 24%,
                        rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                        rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent),
                        linear-gradient(90deg, transparent 24%,
                        rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                        rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent) !important;
    background-size: 50px 50px !important;
    background-attachment: fixed;
    color: rgb(40,40,40);
}

canvas {
    width: 100%;
    height: 100%;
}

#particles-js {
    z-index: 971;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

a:link, a:visited {
    color: rgb(40,40,40);
    /* font-family: 'Times New Roman', serif; */
}

input, button, textarea, a[role="button"], .input-group-text, .btn {
    border-radius: 0 !important;
}

a[role="button"]:active, a[role="button"]:focus, button:active, button:focus {
    outline: 0 !important;
    box-shadow: none!important;
}

/* input:invalid {
    box-shadow: none;
} */

textarea:focus
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
    border-color: rgb(40,40,40);
    box-shadow: none;
    outline: 0;
}

.dropdown-menu {
    padding: 0;
}

.show > [role="button"].dropdown-toggle {
    color: inherit;
}

.input-group-text {
    background-color: rgba(206,212,218,0.3);
    /* color: rgb(245,245,245);
    background-color: rgba(40,40,40,0.9); */
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tooltip-inner {
    font-family: 'Times New Roman', serif;
    font-size: 0.75rem;
    text-align: left;
    /* background-color: rgb(40,40,40)!important; */
    border-radius: 0;
}

.position-sticky {
    top: 0; /* Bootstrap fix...? */
}

.tooltip.bs-tooltip-bottom .arrow:before, .tooltip.bs-tooltip-top .arrow:before, .tooltip.bs-tooltip-left .arrow:before, .tooltip.bs-tooltip-right .arrow:before {
    /* border-right-color: rgb(40,40,40) !important; */
}

.tosoto-standard-link, .tosoto-standard-link:link, .tosoto-standard-link:visited {
    text-decoration: underline;
    text-decoration-style: dotted;
    border-bottom: 1px solid rgb(40,40,40);
}

.tosoto-standard-link2, .tosoto-standard-link2:link, .tosoto-standard-link2:visited {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tosoto-standard-link:hover, .tosoto-standard-link:active, .tosoto-standard-link:focus,
.tosoto-standard-link2:hover, .tosoto-standard-link2:active, .tosoto-standard-link2:focus {
    /* border: none; */
    text-decoration: none;
}

.bare.tosoto-standard-link, .bare.tosoto-standard-link:visited,
.bare.tosoto-standard-link2, .bare.tosoto-standard-link2:visited {
    text-decoration: none;
    text-align: left;
}

.tosoto-standard-button {
    border: 1px dashed rgba(40,40,40,0.7);
    background-color: rgba(0,0,0,0);
    color: rgb(40,40,40);
}

.tosoto-standard-button2 {
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(40,40,40);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tosoto-standard-button:hover {
    border: 1px solid rgba(40,40,40,0.7);
    background-color: rgba(40,40,40,0)!important;
    color: rgb(40,40,40);
}

.tosoto-standard-button2:hover {
    text-decoration: none;
    background-color: rgba(40,40,40,0);
    color: rgb(40,40,40);
}

.tosoto-standard-button:active, .tosoto-standard-button:focus {
    border: 2px solid rgba(40,40,40,0.7);
    color: rgb(40,40,40);
}

.tosoto-standard-button2:active, .tosoto-standard-button2:focus {
    color: rgb(40,40,40);
}

span.code {
    font-family: monospace;
}

#overlay {
    z-index: 976;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100vh;
    min-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgba(0,0,0,0.5);
    padding-top: 3%;
}

#overlay .close {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
    color: red;
}

#overlay .naming {
    margin-bottom: 2%;
}

#overlay .meta {
    font-size: 0.85rem;
}

#overlay .overlay-item {
    border: 5px solid #404040;
    background-color: #f5f5f5;
    padding: 2rem;
}

/* #overlay .create-aspects, #overlay .create-shell, #overlay .create-entities, #overlay .create-theme
#overlay .import-aspects {
    display: none;
} */

#overlay .display {
    background-color: rgba(40,40,40,0.05);
}

#overlay .current-scene, #overlay .current-script {
    font-weight: bold;
}

#overlay .number-meta, #overlay .time-meta {
    font-size: 0.75rem;
}

#overlay .themes-menu .theme-name {
    font-size: 1.2rem;
}

#overlay .themes-menu .theme-type,
#overlay .themes-menu .theme-shell {
    font-size: 0.8rem;
}

.select-dropdown-option ul {
    list-style: none;
    padding: 0.25rem;
    margin: 0.25rem;
}

.select-dropdown-option li.meta {
    font-size: 0.75rem;
}

.select-dropdown-option li.id {
    font-size: 0.65rem;
}

#quietAlertWrapper {
    position: relative;
}

#quietAlert {
    padding: 0.25rem;
    margin: 0;
    /* position: absolute; */
    max-width: 33.33%;
    /* bottom: 0; */
    left: 0;
    background-color: #404040;
    color: rgb(245,245,245);
}

#main-wrapper {
    z-index: 972;
    position: relative;
}

#scripting-toolbar .goto-line .input-group-prepend {
    margin-right: 0.1px;
}

#visualizer {
    z-index: 974;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.visualizer {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgba(0,0,0);
}

.visualizer canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#panelPlayer {
    background-color: rgba(245,245,245,0.3);
    height: 100vh;
    min-height: 100vh;
    padding: 0;
    border-top: 1px dashed rgb(40,40,40);
    border-right: 1px dashed rgb(40,40,40);
    border-bottom: 1px dashed rgb(40,40,40);
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 974;
}

#controls-panel {
    overflow-y: auto;
    padding: 50px 15px 10px 15px;
    border-left: 10px solid rgb(40,40,40);
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#panelPlayer.player-active #controls-panel {
    height: 85vh;
}

#panelPlayer::-webkit-scrollbar, #controls-panel::-webkit-scrollbar {
    width: 0 !important;
    height: : 0 !important;
}

#controls-panel hr {
    margin-top: 30px;
}

#controls-panel h1 {
    font-size: 1rem;
}

#controls-panel h2 {
    font-size: 0.9rem;
}

#controls-panel h3 {
    font-size: 0.8rem;
}

#controls-panel .input-group {
    margin-bottom: 10px;
}

#controls-panel .sub-controls .input-group {
    margin-bottom: 0;
}

#controls-panel .input-group {
    margin-bottom: 10px;
}

#controls-panel .heading {
    margin-bottom: 10px;
}

#controls-panel .heading-info .heading {
    float: left;
}

#controls-panel .heading-info .subheading {
    float: right;
}

#controls-panel .heading-info .info {
    float: right;
    padding: 0 6px;
    font-size: 0.7rem;
    border: 1px dashed rgb(40,40,40);
}

#controls-panel .heading-info .info:hover, #controls-panel .heading-info .info:focus {
    border-style: solid;
}

#controls-panel .subheading {
    text-align: right;
    font-size: 0.85rem;
    /* text-decoration: underline; */
}

#controls-panel .dimensions {
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(0,0,0,0.5);
}

#controls-panel .controls-id {
    text-align: right;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(0,0,0,0.5);
}

#controls-panel .sub-controls .controls-id {
    margin-top: 5px;
    font-size: 9px;
}

#controls-panel .selectize-input {
    padding: 0;
    border: none;
    line-height: inherit;
}

#controls-panel .selectize-control {
    margin: 0;
}

#aspect-controls, #theme-controls, #shell-controls, #player-controls, #entity-controls, #line-controls, #scene-controls, #script-controls {
    margin-bottom: 30px;
}

#aspect-controls, #theme-controls, #shell-controls, #player-controls, #entity-controls, #line-controls {
    display: none;
}

#aspect-controls .arrow-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#aspect-controls .dropdown-toggle::after {
    display:none;
}

.neighbor-dropdown-button {
    padding: .25rem .5rem;
    font-size: .875rem;
}

#aspect-controls [role="button"], #theme-controls [role="button"] {
    background-color: rgb(245,245,245);
}

#theme-controls .aspect-being, #theme-controls .aspect-presence, #theme-controls .aspect-progression
#theme-controls .theme-duration {
    /* margin-bottom: 3px; */
    margin-bottom: 0;
}

#theme-controls .aspect-being .aspect-frequency, #theme-controls .aspect-presence .aspect-intensity, #theme-controls .aspect-progression .aspect-duration {
    /* margin-bottom: 3px; */
    border-bottom: none;
}

#theme-controls .aspect-process,
#sot-controls .sot-process {
    margin-bottom: 10px !important;
}

#aspect-controls .play-wrapper {
    padding: 0;
}

.intensity-range-wrapper {
    background-color: rgba(230,230,230,0.2);
    padding: 0;
}

#aspect-controls .play {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

#theme-controls .channel-controls {
    margin-bottom: 20px;
}

#theme-controls .channel-controls input,
#player-controls input {
    font-size: 0.75rem;
}

#theme-controls .play-mute-solo-reload [role="button"] {
    float: right;
    font-size: 0.65rem;
    padding: .1rem .25rem;
}

#theme-controls .theme.play-mute-solo-reload [role=button] {
    float: left;
    font-size: 0.85rem;
    padding: .2rem .4rem;
}

/* #theme-controls .play-mute-solo-reload [role="button"].on, */
[role="button"].on {
    border-style: solid;
    background-color: rgb(40,40,40)!important;
    color: rgb(245,245,245);
}

/* #theme-controls .play-mute-solo-reload [role="button"].on:hover,
#theme-controls .play-mute-solo-reload [role="button"].on:focus, */
[role="button"].on:hover,
[role="button"].on:focus {
    background-color: rgb(80,80,80)!important;
}

#theme-controls .theme-visualization .controls [role="button"] {
    float: right;
    font-size: 0.75rem;
    padding: .15rem .35rem;
}

#theme-controls .visualizer {
    width: 100%;
    height: 400px;
    padding: 0;
    border: 1px solid #404040;
}

.visualizer .cursor, .visualizer .selectedCursor {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    opacity: 1;
    will-change: transform;
    z-index: 999;
}

.visualizer .selectedCursor {
    margin-left: -17px;
    margin-top: -17px;
    width: 34px;
    height: 34px;
}

.visualizer .caret {
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid whitesmoke;
    border-image: repeating-linear-gradient(45deg, #fff, #919191, #404040 2px) 5;
    box-sizing: border-box;
    transform: rotate(45deg);
    opacity: 0.725;
}

.visualizer .selectedCursor .caret {
    /* border: 5px solid whitesmoke; */
    border-width: 5px;
    opacity: 1;
}

.visualizer .caption {
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    letter-spacing: 0.15em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: rgba(40,40,40,0.7);
    padding: 3px;
}

#shell-controls .aspect-naming-headers .name, #shell-controls .aspect-naming-headers .abbr {
    float: left;
    padding-left: 10px;
}

#shell-controls .aspect-naming-headers .name {
    width: 66.66666666666%
}

#shell-controls .aspect-naming-headers .abbr {
    width: 33.33333333333%
}

#shell-controls .aspect-naming {
    margin-bottom: 0;
}

#shell-controls .aspect-naming .form-control {
    /* border-bottom-style: none; */
}

#shell-controls #shellAspect6.aspect-naming .form-control {
    border-bottom-style: solid;
}

#entity-controls .selectize-input {
    font-size: 1.25rem;
    /* padding: 12px; */
}

#entity-controls .selectize-input input::placeholder, #process-controls .selectize-input input::placeholder {
    /* font-size: 1.25rem; */
}

#script-controls .script-root-path input, #script-controls .script-root-path textarea {
    font-size: 0.75rem;
    font-family: monospace;
}

#script-controls .meta {
    text-align: right;
    font-size: 0.7rem;
    line-height: 0.95rem;
}

#script-controls .meta p {
    margin-bottom: 0;
}

.branding {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 150px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.branding img {
    height: 10px;
    /* opacity: 0.9; */
    margin-bottom: 2px;
}

#soundPlayer {
    border-top: 1px solid rgb(40,40,40);
    background-color: rgba(245,245,245,1);
    margin: 0;
    padding: 10px;
    /* padding-bottom: 0; */
    /* z-index: 975; */
    font-size: 0.75rem;
    height: 15vh; /* See #panelPlayer */
}

#soundPlayer .download, #soundPlayer .record, #soundPlayer .timing {
    text-align: right;
}

#soundPlayer .record.alt-on {
    color: Red;
}

#soundPlayer .titling {
    font-weight: bold;
}

#soundPlayer .title {
    font-style: italic;
}

#soundPlayer .off {
    text-decoration: line-through;
}

#scripting-container {
    padding: 0;
    border: 1px dashed rgb(40,40,40);
}

#scripting-container .title-bar {
    /* position: fixed;
    left: 0;
    bottom: 0;
    z-index: 973;
    transform: rotate(-90deg);
    transform-origin: left top 0; */
    font-size: 14px;
    color: rgb(40,40,40);
    background-color: rgba(245,245,245,0.7);
    padding: 5px 10px;
    width: 90%;
    margin-bottom: 0;
    -webkit-app-region: drag;
}

#toggle-controls {
    /* width: 50px;
    height: 50px; */
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 975;
}

#scripting-toolbar {
    background-color: rgba(245,245,245,0.6);
    border-bottom: 5px solid rgb(40,40,40);
    z-index: 974;
}

#scripting-toolbar .nav {
    display: table;
}

#scripting-toolbar .nav-item {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}

#scripting-toolbar .nav-item [role="button"],
#scripting-toolbar .nav-item button {
    background-color: white !important;
}

#scripting-toolbar .nav-item.dropdown [role="button"],
#scripting-toolbar .nav-item.dropdown button {
    padding: 4px 7px;
}

#scripting-toolbar .import.nav-item label {
    margin-bottom: 0;
}

#scripting-toolbar .import.nav-item input[type="file"] {
    position: absolute;
    top: -100px;
    left: -100px;
}

.scene-line {
    clear: both;
}

.scene-line .line-info {
    background-color: rgba(245,245,245,0.3);
    border-top: 1px solid rgb(40,40,40);
    border-bottom: 1px solid rgb(40,40,40);
    border-right: 0.5px dashed rgb(40,40,40);
    text-align: center;
    padding-top: 1%;
}

/* .scene-line .line-info:hover {
    background-color: rgba(40,40,40,0.02);
} */

.line-active .line-info {
    background-color: rgba(40,40,40,1);
}

.line-active .line-info [role="button"] {
    border-color: rgba(245,245,245,1);
    color: rgba(245,245,245,1);
}

.line-active .line-info [role="button"]:active , .line-active .line-info [role="button"]:focus {
    border-color: rgba(245,245,245,1);
    color: rgba(245,245,245,1) !important;
}

.scene-line .line-number {
    padding: 10% 10%;
    font-weight: bold;
}

.scene-line .line-btn {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10%;
    font-weight: bold;
}

.scene-line .line-btn.add-theme {
    margin-top: 20%;
    font-weight: normal;
}

.scene-line .line-memnat .line-meta {
    background-color: rgba(40,40,40,0.05);
}

.scene-line .line-entity {
    font-size: 12px;
    margin: 0 0 0 10px;
}

.scene-line .modquad {
    background-color: rgba(255, 242, 196, 0.39);
}

.scene-line .memnat {
     border: 0.5px dashed rgba(40,40,40,0.2);
     padding: 0;
}

.scene-line .memnat svg * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.scene-line .memnat.theme-active {
    background-color: rgba(40,40,40,0.05);
}

.scene-line .memnat .direction-label {
    display: none;
}

.scene-line .memnat .direction-label.active {
    display: block;
}

.scene-line .memnat-back-button:hover {
    fill: rgba(40,40,40,0.01);
}

.scene-line .memnat .textual-theme textarea {
    width: 100%;
    min-height: 220px;
    padding: 0.75rem;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: rgba(255,255,255,0);
}

.scene-line .memnat.theme-active textarea {
    background-color: rgba(255,255,255,0.4);
}

#visionCanvas {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}
