<div class="row scene-line">
    <div class="col-1 line-info">
        <a href="#" class="tosoto-standard-button line-number" role="button">79</a>
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button line-btn add-theme" role="button">T&#43;</a>
        <hr></hr>
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button line-btn prepend-line" role="button">&#8593;&#43;</a>
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button line-btn remove-line" role="button">&#x2012;</a>
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button line-btn append-line" role="button">&#8595;&#43;</a>
    </div>
    <div class="col line-memnat">
        <div class="row line-meta">
            <a href="#" class="tosoto-standard-link2 line-entity d-none" role="button"></a>
        </div>
        <div class="row memnat-row"></div>
    </div>
</div>
