<div class="scene row mb-2">
    <div class="col row">
        <form class="col-2">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control scene-position" placeholder="Pos." aria-label="Scene position"></input>
            </div>
        </form>
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-link2 col scene-name" role="button"></a>
    </div>
    <div class="col-2">
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button scene-delete" role="button">Delete</a>
    </div>
</div>
