<div class="script row mb-2">
    <div class="col row">
        <p class="col-2 time-meta">2/22/19 8:04PM</p>
        <a href="#" class="btn btn-sm btn-outline-dark col tosoto-standard-link2 script-name" role="button"></a>
    </div>
    <div class="col-2">
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button script-delete" role="button">Delete</a>
    </div>
</div>
