<div class="theme row mb-2">
    <div class="col row">
        <p class="col-sm-auto number-meta">42</p>
        <p class="col-2 time-meta">2/22/19 8:04PM</p>
        <a href="#" class="btn btn-sm btn-outline-dark col bare tosoto-standard-link2 theme-button" role="button">
            <span class="theme-name"></span><br>
            <span class="theme-type"></span><br>
            <span class="theme-shell">Loading shell info...</span><br>
        </a>
    </div>
    <!-- <div class="col-2">
        <a href="#" class="btn btn-sm btn-outline-dark tosoto-standard-button theme-delete" role="button">Delete</a>
    </div> -->
</div>
